<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>HTML Education Template</title>

    <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600"
      rel="stylesheet"
    />

    <!-- Bootstrap -->
    <link
      type="text/css"
      rel="stylesheet"
      href="pranamya2/css/bootstrap.min.css"
    />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="pranamya2/css/font-awesome.min.css" />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="pranamya2/css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Header -->
    <header id="header" class="transparent-nav">
      <div class="container">
        <div class="navbar-header">
          <!-- Logo -->
          <div class="navbar-brand">
            <a class="logo" href="/"> ABC International Airport </a>
          </div>
          <!-- /Logo -->

          <!-- Mobile toggle -->
          <button class="navbar-toggle">
            <span></span>
          </button>
          <!-- /Mobile toggle -->
        </div>

        <!-- Navigation -->

        <!-- /Navigation -->
      </div>
    </header>
    <!-- /Header -->

    <!-- Home -->
    <div id="home" class="hero-area">
      <!-- Backgound Image -->
      <div
        class="bg-image bg-parallax overlay"
        style="background-image: url(pranamya2/img/home-background.jpg)"
      ></div>
      <!-- /Backgound Image -->

      <div class="home-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h1 class="white-text">
                Book your tickets for your favourite travel destinations
              </h1>
              <p class="lead white-text">
                Ticket booking to airports all over the world made easy, fast
                and cheap!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Home -->

    <!-- Courses -->
    <div id="courses" class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="section-header text-center">
            <h2>Explore Courses</h2>
            <p class="lead">
              Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.
            </p>
          </div>
        </div>
        <!-- /row -->

        <!-- courses -->
        <div id="courses-wrapper">
          <!-- row -->
          <div class="row">
            <!-- single course -->
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="course">
                <a href="#" class="course-img">
                  <img src="pranamya2/img/admin.jpg" alt="" />
                  <i class="course-link-icon fa fa-link"></i>
                </a>
                <a class="course-title" href="#"
                  >The administration of an airport management system involves
                  overseeing airport staff, ensuring safety and security, and
                  coordinating with airlines and stakeholders.
                </a>
                <div class="course-details">
                  <span class="course-category">Admin</span>
                  <span class="course-price course-free">Login</span>
                </div>
              </div>
            </div>
            <!-- /single course -->

            <!-- single course -->
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="course">
                <a href="#" class="course-img">
                  <img src="pranamya2/img/hostess.jpg" alt="" />
                  <i class="course-link-icon fa fa-link"></i>
                </a>
                <a class="course-title" href="#">Introduction to CSS </a>
                <div class="course-details">
                  <span class="course-category">Web Design</span>
                  <span class="course-price course-premium">Premium</span>
                </div>
              </div>
            </div>
            <!-- /single course -->

            <!-- single course -->
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="course">
                <a href="#" class="course-img">
                  <img src="pranamya2/img/passenger.jpg" alt="" />
                  <i class="course-link-icon fa fa-link"></i>
                </a>
                <a class="course-title" href="#"
                  >The Ultimate Drawing Course | From Beginner To Advanced</a
                >
                <div class="course-details">
                  <span class="course-category">Drawing</span>
                  <span class="course-price course-premium">Premium</span>
                </div>
              </div>
            </div>
            <!-- /single course -->

            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="course">
                <a href="#" class="course-img">
                  <img src="pranamya2/img/traffic.jpg" alt="" />
                  <i class="course-link-icon fa fa-link"></i>
                </a>
                <a class="course-title" href="#"
                  >The Complete Web Development Course</a
                >
                <div class="course-details">
                  <span class="course-category">Web Development</span>
                  <span class="course-price course-free">Free</span>
                </div>
              </div>
            </div>
            <!-- /single course -->
          </div>
          <!-- /row -->
        </div>
        <!-- /courses -->
      </div>
      <!-- container -->
    </div>
    <!-- /Courses -->

    <!-- preloader -->
    <div id="preloader">
      <div class="preloader"></div>
    </div>
    <!-- /preloader -->

    <!-- jQuery Plugins -->
    <script type="text/javascript" src="pranamya2/js/jquery.min.js"></script>
    <script type="text/javascript" src="pranamya2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="pranamya2/js/main.js"></script>
  </body>
</html>
