<%- include("headerHome") -%>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <i class="fa fa-tachometer-alt" aria-hidden="true"></i>
  <h5 class="my-0 mr-md-auto font-weight-normal">ABC Airport</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">About</a>
    <a class="p-2 text-dark" href="#">Gallery</a>
    <a class="p-2 text-dark" href="#">Support</a>
  </nav>
  <!-- <a class="btn btn-outline-primary" href="#">Sign up</a> -->
</div>
<!-- <img class='airportImg' src="img/airport.png"> -->
<div class="container">
    <div class="row card-deck text-center">
        <div class="card col-lg-3 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">ADMIN</h4>
            </div>
            <div class="card-body">
              <p>
                The administration of an airport management system involves overseeing airport staff, ensuring safety and security, and coordinating with airlines and stakeholders. Effective administration requires strong leadership, communication skills, and the ability to make quick decisions.
              </p>
              <form action="/login" method="get">
                <button type="submit" class="btn btn-lg btn-block btn-primary">Login</button>
              </form>
            </div>
          </div>
      <div class="card col-lg-3 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">AIRPORT STAFF</h4>
        </div>
        <div class="card-body">
          <p>
            Airport staff play a critical role in ensuring the smooth and safe operation of an airport. This includes a wide range of positions, such as customer service representatives, security personnel, air traffic controllers, baggage handlers, and maintenance staff.
          </p>
          <form action="/videoStream" method="get">
          <button type="submit" class="btn btn-lg btn-block btn-primary">Passport Verification</button>
          </form>
          <form action="/foodOrderCheck" method="get">
          <button type="submit" class="btn btn-lg btn-block btn-primary">Food order checking</button>
          </form>
        </div>
      </div>
      <div class="card col-lg-3 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">PASSENGER</h4>
        </div>
        <div class="card-body">
          <p>
            Passenger booking tickets is a vital part of air travel. This process involves selecting flight dates and times, choosing a seat, and providing personal information. Modern technology has made it easier for passengers to book tickets online, with many airlines offering mobile apps and other tools to streamline the booking process.
          </p>
          <form action="/book" method="get">
          <button type="submit" class="btn btn-lg btn-block btn-primary">Book tickets</button>
          </form>
        </div>
      </div>
      <div class="card col-lg-3 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">AIR TRAFFIC CONTROL</h4>
        </div>
        <div class="card-body">
          <p>Air traffic control is a vital system that manages the flow of aircraft in the sky. It ensures safe and efficient operations, preventing collisions and delays. Air traffic controllers use advanced technology and communication systems to maintain control over air traffic.
          </p>
          <form action="/flight-control" method="get">
          <button type="submit" class="btn btn-lg btn-block btn-primary">Manage Flights</button>
          </form>
        </div>
      </div>
    </div>
</div>
<%- include("footer") -%>
