.container {
    padding: 2rem 0rem;
  }
  
h4 {
    margin: 2rem 0rem 1rem;
}
  
.table-image td,
.table-image th {
  vertical-align: middle;
}

/* .add-btn {
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

span {
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

.skip{
  margin-left: 40px;
}
.next{
  margin-left: 40px;
}
.clear{
  margin-left: 40px;
}

.form-addon{
  display: flex;
}